body{
    background-color: #dcdcdc;
}

.wrapper{
    width: 1000px;
    margin: 30px auto;
    background-color: white;
    text-align: center;
    padding: 10px;
}

img{
    max-width: 100%;
}

#slide{
    border: 10px solid ;
}